@model YourForum.Web.Features.Tenants.Create.Command

<form asp-action="create" method="post">
    @Html.ValidationDiv()

    @Html.FormBlock(m => m.Name)

    <ul class="nav nav-pills nav-justified">
        <li role="presentation">
            <button class="btn btn-link" asp-action="index">
                Avbryt
            </button>
        </li>
        <li role="presentation">
            <button type="submit" class="btn btn-success">
                Spara
            </button>
        </li>
    </ul>
</form>