@model YourForum.Web.Features.Tenants.Edit.Command

<h1>Redigera forumet @Model.Name</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="edit">
            @Html.ValidationDiv()
            <input-tag for="Id" />

            <div class="form-group">
                <label-tag for="Id" />
                <div><display-tag for="Id" /></div>
            </div>

            @Html.FormBlock(m => m.Name)

            <div class="form-group">
                <button type="submit">Spara</button>
            </div>
        </form>
    </div>
</div>