@model YourForum.Front.Features.Tenants.Index.Result


<div class="page-header">
    <h1>Lista på Forumsystem</h1>
</div>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Forumtitel</th>
            <th>
                <a asp-action="create" class="pull-right">
                    Skapa nytt forum
                </a>
            </th>
        </tr>
    </thead>
    
    @foreach (var item in @Model.Tenants)
    {
        <tr>
            <td>@item.Name</td>
            <td>
                <a asp-action="edit" asp-route-id="@item.Id">Redigera</a>
                |
                <a asp-action="details" asp-route-id="@item.Id">Visa</a>
            </td>
        </tr>
    }
</table>